/* app global css */

.primary-bg-color{
  background-color: #5408E6;
}

.secondary-bg-color{
  background-color: #DD1931;
}

.primary-txt-color{
  color: #5408E6;
}

.secondary-txt-color{
  color: #DD1931;
}
